<form action="/products" class='text-center' method="GET" data-turbo-frame="product_list">
  <input type="text" name="q" id="search-input" class="w-full border rounded pt-4 px-2" placeholder="Search...">
</form>
  