<div class="h-24 bg-black sticky px-20 flex justify-between items-center">
  <a href=<%= root_path %>>
    <%= inline_svg_tag('icons/bm-logo.svg') %>
  </a>
   <a href=<%= shopping_cart_path %> class="text-white border rounded py-3 px-6">
    Shopping Cart
    <%= inline_svg_tag('icons/shopping-cart.svg', class: 'inline ml-2') %>
  </a>
</div>